<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
    <link rel="stylesheet" type="text/css" href="/CSS/style1.css">
    <link rel="stylesheet" type="text/css" href="/CSS/footer.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="icon" href="/Picture/favicon.png" type="image/png">
</head>
<header>
    <a href="#" class="logo"><img src="/Picture/logo.png"></a>

    <ul class="navbar">
        <li><a href="homepage">Home</a></li>
        <li><a href="myBook">My books</a></li>
        <li><a href="selling">Selling</a></li>
        <li><a href="wallet">Wallet</a></li>
        <li><a href="about">About</a></li>
    </ul>

    <div class="profile">
        <i class='bx bx-user'></i>
        <span>Profile</span>
        <i class='bx bx-caret-down'></i>

    </div>

    <div id="profileSpan">
        <h5 id="name"></h5>
        <h5 id="mail"></h5>
        <h5 id="balance"></h5>
        <li><a href="editProfile">Edit my profile</a></li>
        <li><a href="login">Log out</a></li>
    </div>

    <!-- Script for Profile -->
    <Script>
        var profileSpan = document.getElementById("profileSpan");

        var name = "<%=user.username%>";
        var mail = "<%=user.email%>";
        var balance = "<%=user.balance.toLocaleString('de-DE')%>";


        document.getElementById("name").textContent = "UserName: " + name;
        document.getElementById("mail").textContent = "Email: " + mail;
        document.getElementById("balance").textContent = "Wallet: " + balance + " VND";

        var caretDownIcon = document.querySelector('.profile .bx-caret-down');
        caretDownIcon.addEventListener('click', () => {
            profileSpan.classList.toggle('active');
        });
    </Script>

</header>

<body>
    <div class="bookPic">
        <img id="imgBook">
        <div class="bookInfo">
            <h1 id="nameBook"></h1>
            <h3 id="author"></h3>
            <h3 id="year"></h3>
            <h4 id="des"></h4>
            <h2 id="price"></h2>
        </div>
        <script>
            var imgBook = "/Picture/book/" + "<%=books.id_book%>" + ".jpg";
            var name = "<%=books.namebook%>";
            var author = "<%=books.author%>";
            var year = "<%=books.publishedyear%>";
            year = year.substring(10, 15);
            var des = "<%=books.description%>";
            var price = "<%=books.price.toLocaleString('de-DE')%>";

            document.getElementById("imgBook").src = imgBook;
            document.getElementById("nameBook").textContent = name;
            document.getElementById("author").textContent = "Author: " + author;
            document.getElementById("year").textContent = "Published: " + year;
            document.getElementById("des").textContent = "Description: " + des;
            document.getElementById("price").textContent = price + " VND";
        </script>
    </div>
    <footer class="footer-distributed">

        <div class="footer-left">
            <h3>Book<span>Lovers</span></h3>

            <p class="footer-links">
                <a href="#">Home</a>
                |
                <a href="#">My books</a>
                |
                <a href="#">Selling</a>
                |
                <a href="#">Wallet</a>
                |
                <a href="#">About</a>
            </p>

            <p class="footer-company-name">Copyright © 2023 <strong>BOOKLOVERS</strong> All rights reserved</p>
        </div>

        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span> 227 Nguyễn Văn Cừ, Phường 4, Quận 5, Thành phố Hồ Chí Minh </span>
                    Việt Nam</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>0901321679</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="mailto:sagar00001.co@gmail.com">booklovers@gmail.com</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>About the company</span>
                <strong>Book Lovers</strong> is a website where you can find and buy books easily and quickly.
                It creates a user-friendly and secure web platform dedicated to book-related
                activities.
                Users will have the ability to share their books with others, buy new or used books, sell their own
                books, and even rent titles.
                The platform's purpose is to foster a vibrant community of readers while providing a convenient and
                efficient marketplace for book transactions.
            </p>
            <div class="footer-icons">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
    </footer>

</body>

