<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
    <link rel="stylesheet" type="text/css" href="/CSS/style1.css">
    <link rel="stylesheet" type="text/css" href="/CSS/footer.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
    <link rel="icon" href="/Picture/favicon.png" type="image/png">
</head>
<header>
    <a href="#" class="logo"><img src="/Picture/logo.png"></a>

    <ul class="navbar">
        <li><a href="/homepage">Home</a></li>
        <li><a href="/myBook">My books</a></li>
        <li><a href="/selling">Selling</a></li>
        <li><a href="/wallet">Wallet</a></li>
        <li><a href="/about">About</a></li>
    </ul>

    <div class="shopping_cart">
        <a href="/cart"><i class='bx bx-cart'></i></a>
    </div>

    <div class="profile">
        <i class='bx bx-user'></i>
        <span>Profile</span>
        <i class='bx bx-caret-down'></i>

    </div>

    <div id="profileSpan">
        <h5 id="name"></h5>
        <h5 id="mail"></h5>
        <h5 id="balance"></h5>
        <li><a href="/editProfile">Edit my profile</a></li>
        <li><a href="/login">Log out</a></li>
    </div>

    <!-- Script for Profile -->
    <Script>
        var profileSpan = document.getElementById("profileSpan");

        var name = "<%=user.username%>";
        var mail = "<%=user.email%>";
        var balance = "<%=user.balance.toLocaleString('de-DE')%>";


        document.getElementById("name").textContent = "UserName: " + name;
        document.getElementById("mail").textContent = "Email: " + mail;
        document.getElementById("balance").textContent = "Wallet: " + balance + " VND";

        var profileClick = document.querySelector('.profile');
        profileClick.addEventListener('click', () => {
            profileSpan.classList.toggle('active');
        });
    </Script>

</header>

<body>
    <div class="bookPage" id="bookPage">
        <img id="imgBook">
        <div class="bookInfo">
            <h1 id="nameBook"></h1>
            <h3 id="author"></h3>
            <h3 id="year"></h3>
            <h3 id="category"></h3>
            <h4 id="des"></h4>
            <!-- <h2 id="price"></h2> -->
        </div>
        <script>
            var imgBook = "/Picture/book/" + "<%=books.id_book%>" + ".jpg";
            var name = "<%=books.namebook%>";
            var author = "<%=books.author%>";
            var year = "<%=books.publishedyear%>";
            year = year.substring(10, 15);
            var des = "<%=books.description%>";
            var category = "<%=books.category%>"

            document.getElementById("imgBook").src = imgBook;
            document.getElementById("nameBook").textContent = name;
            document.getElementById("author").textContent = "Author: " + author;
            document.getElementById("year").textContent = "Published: " + year;
            document.getElementById("category").textContent = "Category: " + category;
            document.getElementById("des").textContent = "Description: " + des;
            //document.getElementById("price").textContent = price + " VND";
        </script>

        <!-- Script for Book Sellers -->
        <script>
            function decodeHtml(html) {
                var txt = document.createElement("textarea");
                txt.innerHTML = html;
                return txt.value;
            }
            var bookPage = document.getElementById("bookPage");
            const n = "<%=selluser.length%>";
            var nameSellers = [];
            var price = [];
            if (n != 0) {
                var selluser = "<%= JSON.stringify(selluser) %>";
                selluser = decodeHtml(selluser);
                selluser = JSON.parse(selluser);
            }
            for (var i = 0; i < n; i++) {
                if ("<%=user.username%>" == selluser[i].susername) {
                    continue;
                }
                nameSellers.push(selluser[i].susername);
                price.push(selluser[i].sprice.toLocaleString('de-DE'));
            }

            var bookSellers = document.createElement("div");
            bookSellers.className = "bookSellers";

            var SellerList = document.createElement("div");
            SellerList.className = "SellerList";

            for (var i = 0; i < nameSellers.length; i++) {
                var oneBookSeller = document.createElement("div");
                oneBookSeller.className = "oneBookSeller";

                var h3 = document.createElement("h3");
                h3.textContent = "Seller: " + nameSellers[i];

                var h2 = document.createElement("h2");
                h2.textContent = price[i] + " VND";

                var buttonBook = document.createElement("div");
                buttonBook.className = "buttonBook";

                var link1 = document.createElement("a");
                link1.href = "<%=books.id_book%>" + "?ShopUser=" + "<%=user.username%>" + "&ShopSeller=" + nameSellers[i] + "&ShopBook=" + "<%=books.id_book%>";

                var button1 = document.createElement("button");
                button1.type = "submit";
                button1.className = "button1";
                button1.textContent = "Add to cart";

                link1.appendChild(button1);

                var link2 = document.createElement("a");
                link2.href = "/cart" + "?ShopUser=" + "<%=user.username%>" + "&ShopSeller=" + nameSellers[i] + "&ShopBook=" + "<%=books.id_book%>";

                var button2 = document.createElement("button");
                button2.type = "submit";
                button2.className = "button2";
                button2.textContent = "Buy now";

                link2.appendChild(button2);

                var reportLink = document.createElement("a");
                reportLink.className = "reportSite";

                var report = document.createElement("i");
                report.className = 'bx bx-comment-error';

                reportLink.appendChild(report)

                buttonBook.appendChild(link1);
                buttonBook.appendChild(link2);
                buttonBook.appendChild(reportLink);

                oneBookSeller.appendChild(h3);
                oneBookSeller.appendChild(h2);
                oneBookSeller.appendChild(buttonBook);

                SellerList.appendChild(oneBookSeller);
            }
            if (nameSellers.length != 0) {
                bookSellers.appendChild(SellerList);
                bookPage.appendChild(bookSellers);
                document.body.appendChild(bookPage);
            }
            else {
                var oneBookSeller = document.createElement("div");
                oneBookSeller.className = "oneBookSeller";
                oneBookSeller.textContent = "You are selling this book";
                SellerList.appendChild(oneBookSeller);
                bookSellers.appendChild(SellerList);
                bookPage.appendChild(bookSellers);
                document.body.appendChild(bookPage);
            }
        </script>
    </div>

    <div class="report" id="report">
        <form action="/submit-report" method="post">
            <div class="reportForm">
                <h1>Report form</h1>
                <h2 id="bookName"></h2>
                <h2 id="sellerReport"></h2>
                <input type="hidden" name="RUsername" value="<%= user.username %>">
                <input type="hidden" name="ReportedUser" value="">
                <input type="hidden" name="RBook" value="<%= books.id_book %>">
                <textarea type="text" id="reason" name="Reason"
                    placeholder="Are there any aspects of this book or seller that you are not happy with? Please let us know why."></textarea>
                <div class="reportAction">
                    <button type="button" id="cancel">Cancel</button>
                    <button type="submit" id="reportConfirm">Report</button>
                </div>
            </div>
        </form>
    </div>

    <script>
        document.getElementById("bookName").textContent = "Book: " + "<%=books.namebook%>";
        var reportClick = document.querySelectorAll('.reportSite');

        reportClick.forEach((element, index) => {
            element.addEventListener('click', () => {
                document.getElementById("report").classList.toggle('active');
                document.getElementById("sellerReport").textContent = "Seller: " + nameSellers[index];
                document.querySelector('input[name="ReportedUser"]').value = nameSellers[index];
            });
        });

        var cancelReport = document.querySelector('#cancel');
        cancelReport.addEventListener('click', (event) => {
            event.preventDefault();
            document.getElementById("report").classList.toggle('active');
        })
    </script>

    <footer class="footer-distributed">

        <div class="footer-left">
            <h3>Book<span>Lovers</span></h3>

            <p class="footer-links">
                <a href="#">Home</a>
                |
                <a href="#">My books</a>
                |
                <a href="#">Selling</a>
                |
                <a href="#">Wallet</a>
                |
                <a href="#">About</a>
            </p>

            <p class="footer-company-name">Copyright © 2023 <strong>BOOKLOVERS</strong> All rights reserved</p>
        </div>

        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span> 227 Nguyễn Văn Cừ, Phường 4, Quận 5, Thành phố Hồ Chí Minh </span>
                    Việt Nam</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>0901321679</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="booklovers.reply@gmail.com">booklovers.reply@gmail.com</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>About the company</span>
                <strong>Book Lovers</strong> is a website where you can find and buy books easily and quickly.
                It creates a user-friendly and secure web platform dedicated to book-related
                activities.
                Users will have the ability to share their books with others, buy new or used books, sell their own
                books, and even rent titles.
                The platform's purpose is to foster a vibrant community of readers while providing a convenient and
                efficient marketplace for book transactions.
            </p>
            <div class="footer-icons">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
    </footer>

</body>