<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" type="text/css" href="/CSS/style1.css">
    <link rel="stylesheet" type="text/css" href="/CSS/footer.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
    <link rel="icon" href="/Picture/favicon.png" type="image/png">
</head>
<header>
    <a href="#" class="logo"><img src="/Picture/logo.png"></a>

    <ul class="navbar">
        <li><a href="homepage">Home</a></li>
        <li><a href="myBook">My books</a></li>
        <li><a href="selling">Selling</a></li>
        <li><a href="wallet">Wallet</a></li>
        <li><a href="about">About</a></li>
    </ul>

    <div class="shopping_cart" id="shoppingCart">
        <a href="cart" class="cart_link">
            <i class='bx bx-cart'></i>
            <span class="header_cart-notice" id="cartItemCount"></span>
        </a>
    </div>

    <div class="profile">
        <i class='bx bx-user'></i>
        <span>Profile</span>
        <i class='bx bx-caret-down'></i>

    </div>

    <div id="profileSpan">
        <h5 id="name"></h5>
        <h5 id="mail"></h5>
        <h5 id="balance"></h5>
        <li><a href="editProfile">Edit my profile</a></li>
        <li><a href="logOut">Log out</a></li>
    </div>

    <!-- Script for Profile -->
    <Script>
        var profileSpan = document.getElementById("profileSpan");

        var name = "<%=user.username%>";
        var mail = "<%=user.email%>";
        var balance = "<%= user.balance.toLocaleString('de-DE') %>";
        var nItems_in_cart = "<%=nItems_in_cart%>";

        document.getElementById("name").textContent = "UserName: " + name;
        document.getElementById("mail").textContent = "Email: " + mail;
        document.getElementById("balance").textContent = "Wallet: " + balance + " VND";

        // Update cart item count
        var cartItemCountElement = document.getElementById("cartItemCount");
        cartItemCountElement.textContent = nItems_in_cart;

        // Hide the notice if the total number of items is 0
        if (nItems_in_cart == 0) {
            cartItemCountElement.style.display = "none";
        }

        var profileClick = document.querySelector('.profile');
        profileClick.addEventListener('click', () => {
            profileSpan.classList.toggle('active');
        });
    </Script>

</header>

<body>
    <section id="product" class="section_home">

        <form action="search-query" method="post">
            <div class="searchArea">
                <input type="text" id="searchBox" name="searchquery" placeholder="Search a book">
                <button type="submit" id="searchBut"><i class='bx bx-search-alt-2 bx-rotate-90'></i></button>
            </div>
        </form>

        <h2>Search result</h2>

        <div class="noSearch"></div>

        <script>
            function decodeHtml(html) {
                var txt = document.createElement("textarea");
                txt.innerHTML = html;
                return txt.value;
            }
            var idBook = [];
            var imagePaths = [];
            var authors = [];
            // var price = [];
            var bookNames = [];
            var b = "<%=books.length%>"
            if (b != 0) {
                var books = "<%= JSON.stringify(books) %>";
                books = decodeHtml(books);
                books = JSON.parse(books);
            }

            for (var i = 0; i < b; i++) {
                idBook.push(books[i].id_book);
                imagePaths.push("/Picture/book/" + books[i].id_book + ".jpg");
                authors.push(books[i].author);
                // price.push(books[i].price.toLocaleString('de-DE'));
                bookNames.push(books[i].namebook);
            }


            // Reference to the product div
            var product = document.getElementById("product");
            // Create productContainer div
            var productContainer = document.createElement("div");
            productContainer.className = "productContainer";


            // Loop through the image paths and create product_cont divs
            for (var i = 0; i < imagePaths.length; i++) {
                // Create product_cont div
                var productContDiv = document.createElement("div");
                productContDiv.className = "product_cont";

                // Create pro div
                var proDiv = document.createElement("div");
                proDiv.className = "pro";

                // Create img element
                var imgElement = document.createElement("img");
                imgElement.src = imagePaths[i];
                imgElement.alt = "";

                // Create description div
                var descriptionDiv = document.createElement("div");
                descriptionDiv.className = "description";

                // Create span element
                var spanElement = document.createElement("span");
                spanElement.textContent = bookNames[i];

                // Create h5 element
                var h5Element = document.createElement("h5");
                h5Element.textContent = authors[i];



                // Create h4 element
                // var h4Element = document.createElement("h4");
                // h4Element.textContent = price[i] + " VND";

                // Append span and h5 elements to descriptionDiv
                descriptionDiv.appendChild(spanElement);
                descriptionDiv.appendChild(h5Element);

                // Append imgElement and descriptionDiv to proDiv
                proDiv.appendChild(imgElement);
                proDiv.appendChild(descriptionDiv);
                // proDiv.appendChild(h4Element);

                // // Create a element
                // var aElement = document.createElement("a");
                // aElement.href = "book?id=" + idBook[i];
                // // aElement.href = "book";

                // // Create i element for cart icon
                // var iElement = document.createElement("i");
                // iElement.className = "bx bx-cart-add cart";

                // Create href
                var href = document.createElement("a");
                href.href = "book/" + idBook[i];

                // // Append i element to aElement
                // aElement.appendChild(iElement);

                // // Append a to proDiv
                // proDiv.appendChild(aElement);

                // Append proDiv, h4Element, and aElement to productContDiv
                href.appendChild(proDiv)
                productContDiv.appendChild(href);

                // Append productContDiv to productContainer
                productContainer.appendChild(productContDiv);
                product.appendChild(productContainer);
            }
            if (b == 0) {
                var noSearch = document.getElementsByClassName("noSearch")[0];

                var imgEmpty = document.createElement("img");
                imgEmpty.src = "../Picture/search_not_found.png";
                imgEmpty.alt = "search_not_found picture";

                // var text = document.createElement("h3");
                // text.className = "searchTitle";
                // text.textContent = "No document found";

                noSearch.appendChild(imgEmpty);
                // noSearch.appendChild(text);
            }
        </script>
    </section>
    <footer class="footer-distributed">

        <div class="footer-left">
            <h3>Book<span>Lovers</span></h3>

            <p class="footer-links">
                <a href="#">Home</a>
                |
                <a href="#">My books</a>
                |
                <a href="#">Selling</a>
                |
                <a href="#">Wallet</a>
                |
                <a href="#">About</a>
            </p>

            <p class="footer-company-name">Copyright © 2023 <strong>BOOKLOVERS</strong> All rights reserved</p>
        </div>

        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span> 227 Nguyễn Văn Cừ, Phường 4, Quận 5, Thành phố Hồ Chí Minh </span>
                    Việt Nam</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>0901321679</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="booklovers.reply@gmail.com">booklovers.reply@gmail.com</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>About the company</span>
                <strong>Book Lovers</strong> is a website where you can find and buy books easily and quickly.
                It creates a user-friendly and secure web platform dedicated to book-related
                activities.
                Users will have the ability to share their books with others, buy new or used books, sell their own
                books, and even rent titles.
                The platform's purpose is to foster a vibrant community of readers while providing a convenient and
                efficient marketplace for book transactions.
            </p>
            <div class="footer-icons">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
    </footer>
</body>


</html>