<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>Selling book</title>
    <link rel="stylesheet" type="text/css" href="/CSS/style1.css">
    <link rel="stylesheet" href="/CSS/footer.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link href="http://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">
    <link rel="icon" href="/Picture/favicon.png" type="image/png">

    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
</head>
<header>
    <a href="#" class="logo"><img src="/Picture/logo.png"></a>

    <ul class="navbar">
        <li><a href="homepage">Home</a></li>
        <li><a href="myBook">My books</a></li>
        <li><a href="selling" class="home-active"> Selling</a></li>
        <li><a href="wallet">Wallet</a></li>
        <li><a href="about">About</a></li>
    </ul>

    <div class="shopping_cart" id="shoppingCart">
        <a href="/cart" class="cart_link">
            <i class='bx bx-cart'></i>
            <span class="header_cart-notice" id="cartItemCount"></span>
        </a>
    </div>

    <div class="profile">
        <i class='bx bx-user'></i>
        <span>Profile</span>
        <i class='bx bx-caret-down'></i>

    </div>

    <div id="profileSpan">
        <h5 id="name"></h5>
        <h5 id="mail"></h5>
        <h5 id="balance"></h5>
        <li><a href="editProfile">Edit my profile</a></li>
        <li><a href="logOut">Log out</a></li>
    </div>

    <!-- Script for Profile -->
    <Script>
        var profileSpan = document.getElementById("profileSpan");

        var name = "<%=user.username%>";
        var mail = "<%=user.email%>";
        var balance = "<%= user.balance.toLocaleString('de-DE') %>";
        var nItems_in_cart = "<%=nItems_in_cart%>";

        document.getElementById("name").textContent = "UserName: " + name;
        document.getElementById("mail").textContent = "Email: " + mail;
        document.getElementById("balance").textContent = "Wallet: " + balance + " VND";

        // Update cart item count
        var cartItemCountElement = document.getElementById("cartItemCount");
        cartItemCountElement.textContent = nItems_in_cart;

        // Hide the notice if the total number of items is 0
        if (nItems_in_cart == 0) {
            cartItemCountElement.style.display = "none";
        }

        var profileClick = document.querySelector('.profile');
        profileClick.addEventListener('click', () => {
            profileSpan.classList.toggle('active');
        });
    </Script>

</header>

<body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script>

        toastr.options = {
            "closeButton": false,
            "debug": false,
            "newestOnTop": true,
            "progressBar": true,
            "positionClass": "toast-bottom-right",
            "preventDuplicates": true,
            "onclick": null,
            "showDuration": "5000",
            "hideDuration": "5000",
            "timeOut": "5000",
            "extendedTimeOut": "5000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "slideDown",
            "hideMethod": "slideUp"
        }
        function decodeHtml(html) {
            var txt = document.createElement("textarea");
            txt.innerHTML = html;
            return txt.value;
        }
        var len = "<%=message.length%>";
        if (len != 0) {
            var message = "<%= JSON.stringify(message) %>";
            message = decodeHtml(message);
            message = JSON.parse(message);
            if (message[0].status == "success")
                toastr.success(message[0].message, 'Success');
            else if (message[0].status == "error") {
                console.log(message[0].message);
                toastr.error(message[0].message, 'Error');
            }
        }
    </script>
    <section id="product" class="section_home">
        <h2>Your selling books here</h2>
        <script>

            function decodeHtml(html) {
                var txt = document.createElement("textarea");
                txt.innerHTML = html;
                return txt.value;
            }
            var idBook = [];
            var imagePaths = [];
            var authors = [];
            var price = [];
            var bookNames = [];

            //var b = "<%=Object.keys(books).length%>";
            var b = "<%=books.length%>"
            if (b != 0) {
                var books = "<%= JSON.stringify(books) %>";
                books = decodeHtml(books);
                books = JSON.parse(books);
            }

            for (var i = 0; i < b; i++) {
                idBook.push(books[i].id_book);
                imagePaths.push("/Picture/book/" + books[i].id_book + ".jpg");
                authors.push(books[i].author);
                price.push(books[i].price.toLocaleString('de-DE'));
                bookNames.push(books[i].namebook);
            }


            // Reference to the product div
            var product = document.getElementById("product");
            // Create productContainer div
            var productContainer = document.createElement("div");
            productContainer.className = "productContainer";

            // Loop through the image paths and create product_cont divs
            for (var i = 0; i < imagePaths.length; i++) {
                // Create product_cont div
                var productContDiv = document.createElement("div");
                productContDiv.className = "product_cont";

                // Create pro div
                var proDiv = document.createElement("div");
                proDiv.className = "pro";

                // Create img element
                var imgElement = document.createElement("img");
                imgElement.src = imagePaths[i];
                imgElement.alt = "";

                // Create description div
                var descriptionDiv = document.createElement("div");
                descriptionDiv.className = "description";

                // Create span element
                var spanElement = document.createElement("span");
                spanElement.textContent = bookNames[i];

                // Create h5 element
                var h5Element = document.createElement("h5");
                h5Element.textContent = authors[i];

                // Create h4 element
                var h4Element = document.createElement("h4");
                h4Element.textContent = price[i] + " VND";

                // Append span and h5 elements to descriptionDiv
                descriptionDiv.appendChild(spanElement);
                descriptionDiv.appendChild(h5Element);

                // Create i for X button
                var XButton = document.createElement("i")
                XButton.className = "bx bx-x";
                // Create button delete
                var delBook = document.createElement("button");
                delBook.type = "submit";
                delBook.className = "delButton";
                delBook.appendChild(XButton);

                // Create a element
                var aElement = document.createElement("a");
                aElement.href = "book/" + idBook[i];
                aElement.className = "viewBookSelling";

                // Create i element for cart icon
                var viewBookBut = document.createElement("button");
                viewBookBut.type = "submit";
                viewBookBut.className = "viewBookBut";
                viewBookBut.textContent = "View Detail";

                aElement.appendChild(viewBookBut);

                // Append imgElement and descriptionDiv to proDiv
                proDiv.appendChild(imgElement);
                proDiv.appendChild(descriptionDiv);
                proDiv.appendChild(h4Element);
                proDiv.appendChild(aElement);
                proDiv.appendChild(delBook);


                // Create href
                var href = document.createElement("a");
                href.appendChild(proDiv);
                productContDiv.appendChild(href);

                // Append productContDiv to productContainer
                productContainer.appendChild(productContDiv);
                product.appendChild(productContainer);
            }
            if (b != 0)
                document.body.appendChild(product);
        </script>

        <button id="uploadBtn" onclick="window.location.href = '/upload'">Upload Your Book</button>

    </section>

    <div class="deletebox" id="deletebox">
        <form action="sellbook-remove" method="post">
            <h3>Are you sure you want to remove this item from selling?</h3>
            <p>This action cannot be undone.</p>
            <div class="deleteAction">
                <input type="hidden" name="SBook" value="">
                <button type=" button" id="cancelDelete">Cancel</button>
                <button type="submit" id="confirmDelete">Delete</button>
            </div>
        </form>
    </div>
    <script>
        var removeClick = document.querySelectorAll(".delButton");
        removeClick.forEach((element, index) => {
            element.addEventListener('click', () => {
                document.getElementById("deletebox").classList.toggle('active');
                document.querySelector('input[name="SBook"]').value = idBook[index];
            });
        });

        var cancelDelete = document.querySelector('#cancelDelete');
        cancelDelete.addEventListener('click', (event) => {
            event.preventDefault();
            document.getElementById("deletebox").classList.toggle('active');
        });
    </script>

    <footer class="footer-distributed">

        <div class="footer-left">
            <h3>Book<span>Lovers</span></h3>

            <p class="footer-links">
                <a href="#">Home</a>
                |
                <a href="#">My books</a>
                |
                <a href="#">Selling</a>
                |
                <a href="#">Wallet</a>
                |
                <a href="#">About</a>
            </p>

            <p class="footer-company-name">Copyright © 2023 <strong>BOOKLOVERS</strong> All rights reserved</p>
        </div>

        <div class="footer-center">
            <div>
                <i class="fa fa-map-marker"></i>
                <p><span> 227 Nguyễn Văn Cừ, Phường 4, Quận 5, Thành phố Hồ Chí Minh </span>
                    Việt Nam</p>
            </div>

            <div>
                <i class="fa fa-phone"></i>
                <p>0901321679</p>
            </div>
            <div>
                <i class="fa fa-envelope"></i>
                <p><a href="booklovers.reply@gmail.com">booklovers.reply@gmail.com</a></p>
            </div>
        </div>
        <div class="footer-right">
            <p class="footer-company-about">
                <span>About the company</span>
                <strong>Book Lovers</strong> is a website where you can find and buy books easily and quickly.
                It creates a user-friendly and secure web platform dedicated to book-related
                activities.
                Users will have the ability to share their books with others, buy new or used books, sell their own
                books, and even rent titles.
                The platform's purpose is to foster a vibrant community of readers while providing a convenient and
                efficient marketplace for book transactions.
            </p>
            <div class="footer-icons">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-youtube"></i></a>
            </div>
        </div>
    </footer>
</body>


</html>