<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF8">
    <meta name="viewpoint" content="width=device-width, initial-scale=1.0">
    <title>Wallet</title>
    <link rel="stylesheet" type="text/css" href="/CSS/style1.css">
    <link rel="stylesheet" href="/CSS/footer.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="icon" href="/Picture/favicon.png" type="image/png">
    <!-- <script src="../Script/script.js" defer></script> -->
</head>

<header>
    <a href="#" class="logo"><img src="/Picture/logo.png"></a>

    <ul class="navbar">
        <li><a href="homepage">Home</a></li>
        <li><a href="myBook">My books</a></li>
        <li><a href="selling">Selling</a></li>
        <li><a href="wallet" class="home-active">Wallet</a></li>
        <li><a href="about">About</a></li>
    </ul>

    <div class="shopping_cart" id="shoppingCart">
        <a href="cart" class="cart_link">
            <i class='bx bx-cart'></i>
            <span class="header_cart-notice" id="cartItemCount"></span>
        </a>
    </div>

    <div class="profile">
        <i class='bx bx-user'></i>
        <span>Profile</span>
        <i class='bx bx-caret-down'></i>
    </div>

    <div id="profileSpan">
        <h5 id="name"></h5>
        <h5 id="mail"></h5>
        <h5 id="balance"></h5>
        <li><a href="editProfile">Edit my profile</a></li>
        <li><a href="logOut">Log out</a></li>
    </div>


    <!-- Script for Profile -->
    <Script>
        var profileSpan = document.getElementById("profileSpan");
        var name = "<%= user.username %>";
        var mail = "<%= user.email %>";
        var balance = "<%= user.balance.toLocaleString('de-DE') %>";
        var nItems_in_cart = "<%=nItems_in_cart%>";
        
        document.getElementById("name").textContent = "UserName: " + name;
        document.getElementById("mail").textContent = "Email: " + mail;
        document.getElementById("balance").textContent = "Wallet: " + balance + " VND";

        // Update cart item count
        var cartItemCountElement = document.getElementById("cartItemCount");
        cartItemCountElement.textContent = nItems_in_cart;

        // Hide the notice if the total number of items is 0
        if (nItems_in_cart == 0) {
            cartItemCountElement.style.display = "none";
        }

        var profileClick = document.querySelector('.profile');
        profileClick.addEventListener('click', () => {
            profileSpan.classList.toggle('active');
        });
    </Script>

</header>

<body>
    <section id="infoWalletPage">

        <div class="miniNavbar">
            <li><a href="#deposit">Deposite</a></li>
            <li><a href="#withdraw">Withdraw</a></li>
            <li><a href="#history">History</a></li>
        </div>

        <div class="mainWallet">
            <div class="balance">
                <h2>My wallet</h2>
                <div class="infoWallet">
                    <h1 id="money_wallet"></h1>
                    <h3 class="vnd">-VND-</h3>
                    <h3 id="uname_wallet"></h3>
                    <h3 id="phone_wallet"></h3>
                    <h3 id="mail_wallet"></h3>
                </div>
                <script>
                    var money = "<%= user.balance.toLocaleString('de-DE') %>";
                    var uname = "<%= user.username %>";
                    var phone = "<%= user.phonenumber %>";
                    var mail = "<%= user.email %>";

                    document.getElementById("money_wallet").textContent = money;
                    document.getElementById("uname_wallet").textContent = uname;
                    document.getElementById("phone_wallet").textContent = phone;
                    document.getElementById("mail_wallet").textContent = mail;
                </script>
            </div>

        </div>

        <div class="deposit" id="deposit">
            <div class="infoDepo">
                <h2>Deposit</h2>
            </div>
            <img src="/Picture/momo.jpg">
            <div class="subInfoDepo">
                <h4>Accept all e-Wallet and Mobile banking</h4>
            </div>
        </div>

        <!-- <div class="withdraw" id="withdraw">
            <div class="withd">
                <h2>Withdraw</h2>
                <div class="infoWi">
                    <h4 class="info">Withdraw amount (VNĐ)</h4>
                    <input type="text" id="amountInput" inputmode="decimal" step="1000" required>
                    <h3 class="info">From:</h3>
                    <h4 id="fromWi">Tiem Ban Nuoc</h4>
                    <h3 class="info">To:</h3>
                    <h4 id="toWi">0123456789</h4>
                    <button type="submit" class="butWi">Confirm</button>
                </div>
                <script>
                    // Get the input element
                    const input = document.getElementById("amountInput");
                    // Create a formatter object with currency options
                    const formatter = new Intl.NumberFormat("vi-VN", {
                        style: "currency",
                        currency: "VND",
                    });

                    // Add an input event listener to the input element
                    input.addEventListener("input", (e) => {
                        // Get the input value as a string
                        const value = input.value;

                        // Remove any non-digit characters from the value
                        const digits = value.replace(/\D/g, "");

                        // Parse the digits as a number
                        const number = Number(digits);

                        // Check if the number is a valid number
                        if (!isNaN(number)) {
                            // Format the number as a currency string
                            const formatted = formatter.format(number);

                            // Set the input value to the formatted string
                            input.value = formatted;
                        }
                    });

                    // Add a keydown event listener to the input element
                    input.addEventListener("keydown", (e) => {
                        // Check if the key pressed is backspace
                        if (e.key === "Backspace") {
                            // Get the input value as a string
                            const value = input.value;

                            // Remove the currency symbol from the value
                            const withoutSymbol = value.replace(/\D/g, "");

                            // Set the input value to the value without the currency symbol
                            input.value = withoutSymbol;
                        }
                    });

                </script>
            </div>
        </div> -->

        <div class="history" id="history">
            <div class="infoHis">
                <h2>History</h2>
                <div class="historyInfo"></div>
                <script>
                    function decodeHtml(html) {
                        var txt = document.createElement("textarea");
                        txt.innerHTML = html;
                        return txt.value;
                    }
                    var n = "<%=invoice.length%>";
                    console.log(n);
                    if (n != 0){
                        var invoice = "<%= JSON.stringify(invoice) %>";
                        invoice = decodeHtml(invoice);
                        invoice = JSON.parse(invoice);
                    }
                    
                    var invoiceid = [];
                    var date = [];
                    var total = [];
                    var sender = [];
                    var bookid = [];
                    for (var i = 0; i < n; i++) {
                        invoiceid.push(invoice[i].id_invoice);
                        date.push(invoice[i].dateinvoice);
                        total.push(invoice[i].total);
                        if (invoice[i].itype){
                            sender.push(invoice[i].id_sender);
                            bookid.push(invoice[i].tbook);
                        }
                        else {
                            sender.push("");
                            bookid.push("");
                        }
                    }

                    var historyInfo = document.getElementsByClassName("historyInfo")[0];
                    for (var i = 0; i < n; i++) {
                        var oneHisInfo = document.createElement("div");
                        oneHisInfo.className = "oneHisInfo";
                        
                        var his0 = document.createElement("div");
                        his0.className = "his0";

                        var IDInvoice = document.createElement("h4");
                        IDInvoice.id = "IDInvoice";
                        IDInvoice.textContent = "ID: " + invoiceid[i];

                        his0.appendChild(IDInvoice);
                        
                        var his1st = document.createElement("div");
                        his1st.className = "his1st"
                        
                        var typeInvoice = document.createElement("h4");
                        typeInvoice.id = "typeInvoice";
                        if (!invoice[i].itype){
                            typeInvoice.textContent = "Type: Invoice";
                        }
                        else {
                            typeInvoice.textContent = "Type: Trasaction";
                        }

                        var moneyInvoice = document.createElement("h4");
                        moneyInvoice.id = "moneyInvoice";
                        moneyInvoice.textContent = "Total: " + total[i];

                        his1st.appendChild(typeInvoice);
                        his1st.appendChild(moneyInvoice);

                        var his2nd = document.createElement("div");
                        his2nd.className = "his2nd";

                        var dateInvoice = document.createElement("h4");
                        dateInvoice.id = "dateInvoice";
                        dateInvoice.textContent = "Date: " + date[i].substring(0, 10);

                        var IDSender = document.createElement("h4");
                        IDSender.id = "IDSender";
                        IDSender.textContent = sender[i];

                        his2nd.appendChild(dateInvoice);
                        his2nd.appendChild(IDSender);

                        var his3rd = document.createElement("div");
                        his3rd.className = "his3rd";

                        var bookInvoice = document.createElement("h4");
                        bookInvoice.id = "bookInvoice";
                        bookInvoice.textContent = bookid[i];
                        
                        if (invoice[i].itype){
                            var booklink = document.createElement("a");
                            booklink.id = "booklink";
                            booklink.href = "/book/" + bookid[i];
                            booklink.appendChild(bookInvoice);

                            his3rd.appendChild(booklink);
                        }
                        else {
                            his3rd.appendChild(bookInvoice);
                        }
                        oneHisInfo.appendChild(his0);
                        oneHisInfo.appendChild(his1st);
                        oneHisInfo.appendChild(his2nd);
                        oneHisInfo.appendChild(his3rd);
                        historyInfo.appendChild(oneHisInfo);
                    }

                </script>
            </div>
        </div>
    </section>

</body>

</html>